.sales {
    padding-top: 50px;
    & .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &-left {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 65px;
        &__description {
            color: #000;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            &:first-child {
                margin-top: 60px;
            }
            &:last-child {
                margin-top: 20px;
            }
        }
    }
    &-btn {
        width: max-content;
        margin: 0 auto;
        margin-top: 70px;
    }
    &-right {
        width: 55%;
    }
}

.qblock-reviews {
    margin: 0 auto;
    margin-top: 70px;
}


.about {
    &-wrapper {
        display: flex;
        align-items: center;
        & > img {
            max-width: 33.3%;
            height: min-content;
    
        }
    }
    &__list-left,
    &__list-right {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        & li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 75px;
            & img {
                width: 22%;
            }
        }
    }
    &__text {
        width: 74%;
        & h3 {
            font-size: 24px;
            line-height: 36px;
            font-weight: 900;
        }
        & p {
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;
        }
    }
}